<!-- Preview Code -->
{% macro previewFrame(code) %}
  <div class="preview--frame">
    {{ code }}
  </div>
{% endmacro %}

{% macro copyBlock(code, id, formOptions) %}
  {% if formOptions %}
  <div class="copy--wrapper">
    <form id="{{ id }}_form" class="copy--form">
      {{ formOptions}}
      <input type="submit" class="copy--button" value="Update &amp; Copy Code">
      <div class="copy--tooltip">Copied &#10003;</div>
    </form>
    <button id="{{ id }}_clipboard" class="copy hidden" data-clipboard-target="#{{ id }}"></button>
  </div>
  {% else %}
  <div class="copy--wrapper">
    <button class="copy--button copy tooltips" data-clipboard-target="#{{ id }}">Copy Code </button>
    <span class="copy--tooltip">Copied &#10003;</span>
  </div>
  {% endif %}

  <pre style="display:block;">
    <code class="language-markup" id="{{ id }}" >
      {{ code|escape}}
    </code>
  </pre>
{% endmacro %}
