    <section id="texasvotes" class="section--block">
      <header>
        <h2>2016 Election - "Texas Votes" Promotion</h2>
      </header>

      <div id="texasvotesbottom_preview" class="preview--frame">
        <blockquote style="border-color: #ffc200; border-style: solid; border-width: 0 0 0 5px; padding: 0 1.1rem 0 1.5rem; margin: 0 0 1.1rem;"><p style="font-weight:400;"><strong>Did you have any trouble voting?</strong> Text us your experience by joining <a onclick="ga('send', 'event', 'codegrabber', 'click', 'elections', 'electionland-mobile', {'nonInteraction': 1})" href="https://www.texastribune.org/2016/10/24/texas-voters-tell-us-about-your-experience-2016-el/">the ElectionLand project</a>. We'll check in to find out how long it took you to vote and whether you had or saw any problems. Sign up now by texting TEXAS VOTES to 69866.</p>
        </blockquote>
      </div>

      <!-- Add Form if form options are provided -->
      <div id="texasvotesbottom_copy" class="copy--wrapper">
        <form id="texasvotesbottom_form" class="copy--form">
          <input type="submit" class="copy--button" value="Copy Code">
          <span class="copy--tooltip">Copied &#10003;</span>
        </form>
        <button id="texasvotesbottom_clipboard" class="copy hidden" data-clipboard-target="#texasvotesbottom"></button>
      </div>

      <!-- Add escaped version of generated code block to preview
      and grab when you hit copy -->
      <pre style="display:block;">
        <code class="language-markup" id="texasvotesbottom" >
        </code>
      </pre>
    </section>
