  <!--   Pull Quote      -->
    <section id="pull_text" class="section--block">
      <header>
        <h2>Pull Quote or Block Text</h2>
      </header>

      {% set pullquoteform %}
      <input type="radio" name="type" value="quote" checked><span class="radio-label">Pull Quote</span>
      <input type="radio" name="type" value="text"><span class="radio-label">Text Block</span>
        <label class="quote-label">Quote - <span class="warning">Don't include quote marks!</span> We've included them for you.</label>
        <label class="text-label" style="display: none;">Text</label>
        <input id="pullquote_quote" type="text" value="">
        <label class="speaker-label">Speaker, Title</label>
        <input class="speaker-input" id="pullquote_speaker" type="text" value="">
        <div class="copy-form--half">
          <label>Position</label>
          <input type="radio" name="position" value="full" checked><span class="radio-label">Full Width</span>
          <input type="radio" name="position" value="right"><span class="radio-label">Float Right</span>
          <input type="radio" name="position" value="left"><span class="radio-label">Float Left</span>
        </div>
      {% endset %}
      {{ macro.copyBlock('pulltextcode', pullquoteform, preview='load')}}

    </section>
