  <!--   Read More       -->
    <section id="read_more" class="section--block">
      <header>
        <h2>Read More</h2>
      </header>

      {% set readmore %}
      <p class="readmore"><span class="readmore--label">Read More</span><a onclick="ga('send', 'event', 'codegrabber', 'click', 'readmore', {'nonInteraction': 1})" class="readmore_link" href="http://texastribune.org"><span class="readmore_headline">Your headline</span></a></p>
      {% endset %}

      {% set readmoreform %}
        <label>Headline</label>
        <input type="text" id="readmore_headline" value="">
        <label>Link to the story</label>
        <input type="text" id="readmore_link" value="">
      {% endset %}

      {{ macro.previewFrame(readmore) }}
      {{ macro.copyBlock(readmore, 'readmorecode', readmoreform)}}
    </section>
