<!-- Video Embed     -->
  <section id="video_embed" class="section--block">
    <header>
      <h2>Responsive YouTube Embed</h2>
      <p>These code blocks rely on CMS classes to load FitVids.js and make YouTube videos responsive. All videos should be YouTube videos.</p>
      <p>Insert the video ID into the form below — NOT THE URL FOR THE VIDEO.</p>
    </header>

    {% set videoembedform %}
    <label>Video ID - Ex: BtZF007Lep4</label>
    <input id="videoID" type="text" value="" required>
    {% endset %}

    {{ macro.copyBlock('videoembedcode', videoembedform)}}

  </section>
