  <!--   Series Embed   -->
<section id="bsp_embed" class="section--block">
  <header>
    <h2>Series Embed</h2>
  </header>
  
  <div class="template-frame">
    <div style="border-top: 2px; border-right: 0; border-left: 0; border-bottom: 2px; border-style: solid; border-color: #925352; padding-bottom: .5em; padding-top: .5em; margin-bottom: 1em;"><a href="http://apps.texastribune.org/bordering-on-insecurity/"><img style="display: block; float: left; margin: 0 1em .75em 0; width: 210px;" src="https://static.texastribune.org/media/images/2016/01/29/TT-BSP_LogoA-sml.jpg" alt="Bordering on Insecurity Logo" /></a> <em style="line-height: 1.3; font-size: .9em; margin-top: 1em;">The Texas Tribune is taking a yearlong look at the issues of border security and immigration, reporting on the reality and rhetoric around these topics. <a href="http://apps.texastribune.org/bordering-on-insecurity/" target="_blank">Check out all the stories in this series</a>.</em></div>
  </div>

  <button class="copy-button copy" data-clipboard-target="#story_series--embed_code">Copy Code</button>

  <pre style="display:block;">
    <code class="language-markup" id="story_series--embed_code" >
      &lt;div style="border-top: 2px; border-right: 0; border-left: 0; border-bottom: 2px; border-style: solid; border-color: #925352; padding-bottom: .5em; padding-top: .5em; margin-bottom: 1em;">&lt;a href="http://apps.texastribune.org/bordering-on-insecurity/">&lt;img style="display: block; float: left; margin: 0 1em .75em 0; width: 210px;" src="https://static.texastribune.org/media/images/2016/01/29/TT-BSP_LogoA-sml.jpg" alt="Bordering on Insecurity Logo" />&lt;/a> &lt;em style="line-height: 1.3; font-size: .9em; margin-top: 1em;">The Texas Tribune is taking a yearlong look at the issues of border security and immigration, reporting on the reality and rhetoric around these topics. &lt;a href="http://apps.texastribune.org/bordering-on-insecurity/" target="_blank">Check out all the stories in this series&lt;/a>.&lt;/em>&lt;/div>
    </code>
  </pre>
</section>