  <!--   Photo Embeds    -->
    <section id="photo_embed" class="section--block">
      <header>
        <h2>Photo Embeds</h2>
      </header>

      <form id="photoEmbed_form" class="copy-form">
        <label>Image URL</label>
        <input id="photoEmbed_URL" type="text" value="http://d2o6nd3dubbyr6.cloudfront.net/media/images/TxTrib_SummitCommunity_MS_20111101_42.jpg">
        <label>Photo credit</label>
        <input id="photoEmbed_credit" type="text" value="Photo by: Muliadi Soenaryo">
        <label>Photo caption</label>
        <input id="photoEmbed_caption" type="text" value="Put your caption information here.">
        <input type="submit" class="copy-button" value="Update &amp; Copy Code">
        <div class="copied">Copied &#10003;</div>
      </form>

      <button id="photoEmbed_clipboard" class="copy hidden" data-clipboard-target="#photoEmbed_code"></button>

      <pre>
        <code id="photoEmbed_code">
        &lt;figure class="story_embed--image&gt;&lt;img src="<span class="photoEmbed_URL"></span>"&gt;&lt;figcaption style="background-color:;color:;font-family:;padding:0 0.8em 0.8em 0.8em;"&gt;&lt;cite&gt;<span class="photoEmbed_credit"></span>&lt;/cite&gt;&lt;br/&gt;&lt;p style="float: left; font-size: 0.8em; margin: 0.5em 0;&gt;<span class="photoEmbed_caption"></span>&lt;/p&gt;&lt;/figcaption&gt;&lt;/figure&gt;
        </code>
      </pre>
    </section>
