  <!--   Photo Embeds    -->
    <section id="photo_embed" class="section--block">
      <header>
        <h2>Photo Embeds</h2>
      </header>

      <form id="photoEmbed_form" class="copy-form">
        <label>Image URL</label>
        <input id="photoEmbed_URL" type="text" value="http://d2o6nd3dubbyr6.cloudfront.net/media/images/TxTrib_SummitCommunity_MS_20111101_42.jpg">
        <label>Photo credit</label>
        <input id="photoEmbed_credit" type="text" value="Photo by: Muliadi Soenaryo">
        <label>Photo caption</label>
        <input id="photoEmbed_caption" type="text" value="Put your caption information here.">
        <label>Position</label>
        <input type="radio" name="photoPosition" value="full" checked><span class="radio-label">Full Width</span>  
        <input type="radio" name="photoPosition" value="right"><span class="radio-label">Float Right</span>
        <input type="radio" name="photoPosition" value="left"><span class="radio-label">Float Left</span>
        <input type="submit" class="copy-button" value="Update &amp; Copy Code">
      </form>

      <button id="photoEmbed_clipboard" class="copy hidden" data-clipboard-target="#photoEmbed_code"></button>

      <pre>
        <code id="photoEmbed_code">
        &lt;div<span class="photoEmbed_position"></span>>&lt;a class="lightbox" href="<span class="photoEmbed_URL"></span>">&lt;img src="<span class="photoEmbed_URL"></span>" alt="" width="312" />&lt;/a>
        &lt;div class="photo_links">&lt;a class="lightbox enlarge" href="<span class="photoEmbed_URL"></span>">Enlarge&lt;/a>&nbsp;&lt;cite><span class="photoEmbed_credit"></span>&lt;/cite>&lt;/div>
        &lt;div class="photo_caption">&lt;em><span class="photoEmbed_caption"></span>&lt;/em>&lt;/div>
        &lt;/div>
        </code>
      </pre>
    </section>