  <!--   Series Header   -->
    <section id="series_headers" class="section--block">
      <header>
        <h2>Series Headers</h2>
      </header>
      
      <div class="section--block_half">
        <div class="preview--frame">
          <div class="story_series--header" style="border-top: 0; border-right: 0; border-left: 0; border-bottom: 2px; border-style: solid; border-color: #925352; padding-bottom: 1em; margin-bottom: 1em;"><a href="http://apps.texastribune.org/bordering-on-insecurity/"><img style="display: block; margin: 0 auto .75em; width: 210px;" src="https://static.texastribune.org/media/images/2016/01/29/TT-BSP_LogoA-sml.jpg" alt="Bordering on Insecurity Logo" /></a><em style="line-height: 1; font-size: .9em;">The Texas Tribune is taking a yearlong look at the issues of border security and immigration, reporting on the reality and rhetoric around these topics. <a href="http://apps.texastribune.org/bordering-on-insecurity/" target="_blank">Sign up to get</a> story alerts.</em></div>
        </div>

        <button class="copy-button copy" data-clipboard-target="#story_series--bspheader_code">Copy Code</button>
        <div class="copied">Copied &#10003;</div>

        <pre style="display:block;">
          <code class="language-markup" id="story_series--bspheader_code" >
            &lt;div class="story_series--header" style="border-top: 0; border-right: 0; border-left: 0; border-bottom: 2px; border-style: solid; border-color: #925352; padding-bottom: 1em; margin-bottom: 1em;">&lt;a href="http://apps.texastribune.org/bordering-on-insecurity/">&lt;img style="display: block; margin: 0 auto .75em; width: 210px;" src="https://static.texastribune.org/media/images/2016/01/29/TT-BSP_LogoA-sml.jpg" alt="Bordering on Insecurity Logo" />&lt;/a>&lt;em style="line-height: 1; font-size: .9em;">The Texas Tribune is taking a yearlong look at the issues of border security and immigration, reporting on the reality and rhetoric around these topics. &lt;a href="http://apps.texastribune.org/bordering-on-insecurity/" target="_blank">Sign up to get&lt;/a> story alerts.&lt;/em>&lt;/div>
          </code>
        </pre>
      </div>
      <div class="section--block_half">
        <div class="preview--frame">
          <div class="story_series--header" style="border-top: 0; border-right: 0; border-left: 0; border-bottom: 2px; border-style: solid; border-color: #ffc200; padding-bottom: 1em; margin-bottom: 1em;"><a href="https://www.texastribune.org/tribpedia/rough-patch/"><img style="display: block; margin: 0 auto .75em; width: 210px;" src="https://static.texastribune.org/media/images/2016/04/06/roughpatch-logo_sm.png" alt="Rough Patch Logo" /></a><em style="line-height: 1; font-size: .9em;">How plunging oil prices are reversing fortunes across Texas. Read <a href="https://www.texastribune.org/tribpedia/rough-patch/">all the stories</a> in this series.</em></div>
        </div>

        <button class="copy-button copy" data-clipboard-target="#story_series--roughheader_code">Copy Code</button>
        <div class="copied">Copied &#10003;</div>
        <pre class="hidden" style="display:block;">
          <code class="language-markup" id="story_series--roughheader_code">
          &lt;div class="story_series--header" style="border-top: 0; border-right: 0; border-left: 0; border-bottom: 2px; border-style: solid; border-color: #ffc200; padding-bottom: 1em; margin-bottom: 1em;">&lt;a href="https://www.texastribune.org/tribpedia/rough-patch/">&lt;img style="display: block; margin: 0 auto .75em; width: 210px;" src="https://static.texastribune.org/media/images/2016/04/06/roughpatch-logo_sm.png" alt="Rough Patch Logo" />&lt;/a>&lt;em style="line-height: 1; font-size: .9em;">How plunging oil prices are reversing fortunes across Texas. Read &lt;a href="https://www.texastribune.org/tribpedia/rough-patch/">all the stories&lt;/a> in this series.&lt;/div>
          </code>
        </pre>
      </div>
    </section>