<section id="twitterinline" class="section--block">
  <header>
    <h2>Twitter — Share Sentence</h2>
  </header>
  <div class="preview--frame">
    <a href="https://twitter.com/share?text=Sed%20fringilla%20mauris%20sit%20amet%20nibh.%20Vivamus%20elementum%20semper%20nisi.%20Sed%20fringilla%20mauris%20sit%20amet%20nibh.%20Vivamus%20eleme" onclick="ga('send', 'event', 'codegrabber', 'click', 'twitter-inline', {'nonInteraction': 1})"><span class="twitterinline_sentence">Sed fringilla mauris sit amet nibh. Vivamus elementum semper nisi. Sed fringilla mauris sit amet nibh vivamus</span><i style="margin-left: .5em;" class="fa fa-twitter"></i></a>
  </div>
      <p>Twitter will automatically pick up the story URL and shorten it to <strong>23 characters</strong>. That means you have 117 characters &mdash; including any added hashtags &mdash; to work with!</p>
    <p><span id="twitterinline_warning" class="warning hidden">Warning! You may want to shorten your tweet. </span>Current character count: <span id="twitterinline_sentence_length">110</span></p>

  <form id="twitterinline_form" class="copy-form">
    <label>Sentence you want to share.</label>
    <input id="twitterinline_sentence" type="text" value="Sed fringilla mauris sit amet nibh. Vivamus elementum semper nisi. Sed fringilla mauris sit amet nibh vivamus."></input>
    <label>Hashtags &mdash; Optional. Don't include the #. For multiple hashtags, separate words with commas.</label>
    <input id="twitterinline_hashtag" type="text"></input>
    <input type="submit" class="copy-button" value="Update &amp; Copy Code"><div class="copied">Copied &#10003;</div>
  </form>

  <button id="twitterinline_clipboard" class="copy hidden" data-clipboard-target="#twitterinline_code"></button>

  <pre>
    <code id="twitterinline_code">
    &lt;a href="https://twitter.com/share?text=<span class="twitterinline_sentence_encode"></span>&amp;hashtags=<span class="twitterinline_hashtag"></span>" onclick="ga('send', 'event', 'codegrabber', 'click', 'twitter-inline', {'nonInteraction': 1})">&lt;span class="twitterinline_sentence"><span class="twitterinline_sentence"></span>&lt;/span>&lt;i style="margin-left: .5em;" class="fa fa-twitter">&lt;/i>&lt;/a>
    </code>
  </pre>
</section>
